*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'montserrat';
    color: white;
}

html,body {
    height: 100%;
    width: 100%;
}

#nav{
    height: 130px;
    width: 100%;
    /* background-color: red; */
    display: flex;
    padding: 0 120px;
    align-items: center;
    gap:50px;
    justify-content: flex-start;
    position: fixed;
    z-index: 99;
}   
#nav img {
    height: 75px;
}
#nav h4{
    text-transform: uppercase;
    font-weight: 500;
}
#cursor {
    height: 18px;
    width: 18px;
    background-color: #95C11E;
    border-radius: 50%;
    position:fixed;
    z-index: 99;
    transition: all linear 0.3s; 
} 
#cursor-blur {
    height: 360px;
    width: 360px;
    background-color: #85a93d;
    border-radius: 50%;
    z-index: 9;
    position:fixed;
    /* transition: all linear 0.3s; */
    filter:blur(200px)
}
video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
    position:fixed
    
}
#main{
    position: relative;
    background-color: rgba(0,0,0,0.37);
}
#page1{
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    z-index: 10;
}
#page1 h1{
    font-size: 140px;
    font-weight: 800;
    position: relative;
}
#page1 h1::before{
    content: "EAT. DRINK. PLAY.";
    position:absolute;
    color: #000;
    top:-4px;
    left:-4px;
    -webkit-text-stroke: 2px #95C11E;
    z-index: -1;
}
#page1 h2{
    font-size: 28px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 15px;
}
#page1 p{
    font-size: 20px;
    font-weight: 400;
    width:40%;
}
#page2{
    min-height: 100vh;
    width: 100%;
    z-index: 10;
}
#scroller{
    /* background-color: red; */
    white-space: nowrap;
    padding:0px 0px 90px;
    overflow-x:auto;
    overflow-y:hidden;
    position:relative;
    z-index:10;
    margin-bottom: 80px;
    align-items: center
    
}
#scroller::-webkit-scrollbar{
    display:none;
}
#scroller-in{
    display:inline-block;
    white-space: nowrap;
    animation:scroll;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
#scroller h4{
    display:inline;
    font-size:120px;
    font-weight: 800;
    font-family: gilroy;
    margin-right:10px;
    margin-bottom: 80px;
    transition:all linear 0.5s;
    color:transparent;
    -webkit-text-stroke:2px #95C11E
}
#scroller h4:hover{
    color:#95C11E
}
@keyframes scroll{
    from{
        transform:translateX(0);
    }
    to{
        transform:translateX(-100%);
    }
}

#about-us{
    height:40vh;
    width:100%;
    /* background-color: red; */
    display:flex;
    padding:0px 80px;
    align-items:center;
    justify-content: space-around;
    position:relative;
    z-index: 10;
    
}

#about-us img{
    height:180px;
    width:180px;
    border-radius:10px;
    object-fit:cover;
    margin-top: 20px;
    
}

#about-us-in{
    width:55%;
    text-align:center;
}

#about-us h3{
    font-size: 45px;
    font-weight: 800;
    margin-bottom: 20px;
}
#about-us-in p{
    font-size:20px;
    line-height:40px;
}

#cards-container{
    /* background-color: red; */
    height:60vh;
    display: flex;
    align-items: top;
    margin-bottom: 80px;
    justify-content: center;
    gap: 80px;
    z-index: 10;
}
.card{
    height:80%;
    width: 22%;
    border-radius:10px;
    /* background-color: blue; */
    background-size:cover;
    background-position:center;
}
#card1{
    background-image: url(https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/home-toptracer.jpg?strip=all&lossy=1&sharp=1&fit=1024%2C682&ssl=1);
    
}
#card2{
    background-image: url(https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/hero-4.jpg?strip=all&lossy=1&sharp=1&fit=1024%2C1024&ssl=1);
}
#card3{
    background-image: url(https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/home-lessons.jpg?strip=all&lossy=1&sharp=1&fit=1024%2C682&ssl=1);
}